<div class="main">
    <nav>
        <p>
            <mat-toolbar color="primary">
              <span>My App</span>
              <span class="example-spacer"></span>
              <button mat-icon-button routerLink="/instructions">
                Instructions
              </button>
              <button mat-icon-button routerLink="/register">
                Register
              </button>
            </mat-toolbar>
          </p>
    </nav>
    <!-- <app-info></app-info> -->
    <!-- <app-user-form></app-user-form> -->
    <router-outlet></router-outlet>
</div>
