.user-form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 1em;
}

.link{
    color:#3f51b5;
    cursor: pointer;
}

.link:hover{
    color:black;
    text-decoration: underline;
}

.forms{
    display: flex;
}

.bottom{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.error{
    font-size: 11px;
    color: red;
}